.your-container {
  overflow-y: scroll;
  scrollbar-width: none;
  /* For Firefox */
  scrollbar-color: gray transparent;
  /* For Firefox */
}

/* For Webkit-based browsers (Chrome, Edge, Safari) */
.your-container::-webkit-scrollbar {
  width: 6px;
  /* Slim scrollbar */
}

.your-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.your-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  /* Rounded ends */
}

.your-container::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}



/* Remove up/down arrow buttons */
.your-container::-webkit-scrollbar-button {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}


.navbar-glass {
  width: 50%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border-radius: 29px;
  top: 10px;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}